body {
  background-color: white;
  color: #eeeeee
  margin: 0;
  padding: 0;
}
.teacher-box {
 padding: 10px;
 margin-top: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #6B7A8F;
border-radius: 25px;
}

.teacher {
  background-color: #DCC7AA;
  padding: 5px;
  width: 400px;
  height: 260px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  }

  .teacher-top {
    width: 400px;
    height: 130px;
    margin: 0;
    font-size: 40px;
    border-style: none;
    border-bottom: thick dotted #000;
    padding-top: 4px;
  }
  .teacher-top h3 {
    text-align: center;
    margin-top: 0;
  }
  .teacher-top h2 {
    font-size: 40px;
    line-height:  50px;
    margin: 4px;
    color: #6B7A8F;
  }
  .teacher-bottom1 {
width: 400px;
display: flex;
width: 50%;
border-right: thick dotted #000;
align-items: center;
}
.teacher-bottom1 h2 {
  font-size: 30px;
  height: 80px;
  padding: 0;
  margin-top: 0;
}
.teacher-bottom2 {
width: 400px;
display: flex;
width: 50%;
align-items: center;
}
.teacher-bottom2 h2 {
font-size: 30px;
padding-left: 250px;
margin-top: 40px;
color: #6B7A8F;
}
.teacher-bottom2 p {
  padding-left: 260px;
  font-size: 30px;
  margin-top: -20px;
}
.student-box {
 padding: 10px;
 margin-top: 20px;
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: #6B7A8F;
border-radius: 25px;
}
.student {
  background-color: #DCC7AA;
  padding: 5px;
  width: 300px;
  height: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  }
  .student-top {
    width: 300px;
    height: 175px;
    margin: 0;
    font-size: 40px;
    border-style: none;
    border-bottom: thick dotted #000;
    padding-top: 4px;
  }
  .student-top h2 {
    font-size: 40px;
    line-height:  50px;
    margin: 4px;
    color: #6B7A8F;
  }
  .student-bottom {
width: 300px;
display: flex;
width: 50%;
align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  padding: 15px;
}

h1 {
    font-family: 'Dense', sans-serif;
    font-weight: 300;
    line-height: 46px;
    font-size: 60px;
    margin: 0 0 23px 0;
    color: #F7882F;
    text-align: center;
    }
h2 {
    font-family: 'Lato', cursive;
    font-weight: bold;
    }
  h3 {
    font-family: 'Dense', sans-serif;
    font-size: 50px;
  }
p {
    font-family: 'Lato', sans-serif;
    font-size: 30px;

    }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F7C331;
  border-radius: 25px;
}
li {
float: right;
}
li h2 {
  display: block;
  color: #4c516d;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border-bottom: 1px solid #030303;
}
li a {
    display: block;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Dense', sans-serif;
}
li a:hover {
    background-color: #6B7A8F;
}

section {
  margin: 15px;
}
